@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';



@theme {
    --font-sans: 'Outfit', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}



/**
    The lines above are intact.
    The lines below were added by maryUI installer.
*/

/** daisyUI */
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}




@plugin "daisyui/theme" {
    name: "event";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(96% 0.018 272.314);
    --color-base-200: oklch(93% 0.034 272.788);
    --color-base-300: oklch(87% 0.065 274.039);
    --color-base-content: oklch(35% 0.144 278.697);
    --color-primary: oklch(70% 0.14 182.503);
    --color-primary-content: oklch(98% 0.014 180.72);
    --color-secondary: oklch(68% 0.169 237.323);
    --color-secondary-content: oklch(97% 0.013 236.62);
    --color-accent: oklch(76% 0.188 70.08);
    --color-accent-content: oklch(98% 0.022 95.277);
    --color-neutral: oklch(45% 0.24 277.023);
    --color-neutral-content: oklch(96% 0.018 272.314);
    --color-info: oklch(78% 0.154 211.53);
    --color-info-content: oklch(30% 0.056 229.695);
    --color-success: oklch(77% 0.152 181.912);
    --color-success-content: oklch(27% 0.046 192.524);
    --color-warning: oklch(75% 0.183 55.934);
    --color-warning-content: oklch(26% 0.079 36.259);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 2rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
  }




/* Tambahkan ini untuk memastikan font Inter diterapkan secara global */
html, body {
    font-family: var(--font-sans);
}



/* maryUI */
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

/* Theme toggle */
@custom-variant dark (&:where(.dark, .dark *));

/**
* Paginator - Traditional style
* Because Laravel defaults does not match well the design of daisyUI.
*/

.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100
}

.mary-table-pagination button {
    @apply cursor-pointer
}
